


.main {
  padding-top: 48px;
  margin-bottom: 80px; /*
    Give some bottom margin, otherwise the bottom footer
    cuts off some content at bottom of page.
    (Especially on small screens.)
    */
}





.landing-page-left-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 0px solid red;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
  border-radius: 4px;
  
}




.landing-page-bottom-col {
  border: 0px solid red;
}

.landing-page-bottom-cols-wrapper {
  margin-top: 100px;

}


.landing-page-bottom-col-1-inner,
  .landing-page-bottom-col-2-inner,
  .landing-page-bottom-col-3-inner {
    box-shadow: 0 8px 8px -4px lightblue;
    border-radius: 4px;
    background: #eee;
    color: #444;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 16px;
    padding: 32px;
}


.landing-page-box {
  padding-top: 32px !important;
  border: 0px solid red;
  margin: 30px;
}




.landing-page-heading {
  font-family: 'Poppins', sans-serif;
  color: #555;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 32px) !important;  
}


.landing-page-sub-heading {
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-top: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.landing-page-shop-now-button {
  margin-top: 64px;
  margin-bottom: 32px;
  border-radius: 32px;
  background-color: black;
  color: #FFF;
  font-size: 24px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  transition: all .2s ease-in-out;
  border: 0px;
}

.landing-page-shop-now-button:focus {
  outline: #00ABC2 solid 3px;
}





.landing-page-shop-now-button:hover {
  transform: scale(1.1);
}


.landing-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 8px 8px -4px lightblue;
}





/* Medium devices (tablets, less than 992px)
this media query / breakpoint is exactly the same as Bootstrap's:
*/
@media (max-width: 991.98px) {

  .main {
    padding-top: 0px;
  }

  .landing-image {
    margin-top: 48px; /*on small screens, image is stacked
    below other elements and needs some vertical spacing */
  }

}


/* Large devices (desktops, 992px and up)
this media query / breakpoint is exactly the same as Bootstrap's: */
@media (min-width: 992px) {
  .main {
    padding-left: 28px;
    padding-right: 28px;
  }
}








