




.product-card {
  /* important: width is set by bootstrap via column mechanism.
  do not set width here! height is set via aspect-ratio. do not set height here!*/
  aspect-ratio: 10 / 13;
  margin-top: 24px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 8px -4px lightblue;
  overflow: hidden;
}

.image-box {
  height: 60%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0px solid rgb(229, 229, 229);
  transition: all .2s ease-in-out;
}

.image {
  height: 75%;
  width: auto;
}



.image-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}



.sub-box {
  height: 40%;
  font-size: 16px;
  padding: 16px;
  padding-top: 8px;
  border-top: 1px solid rgb(229, 229, 229);
  font-family: 'Poppins', sans-serif;
  color: #222;

}

.text-box {
    height: 70%;
    border: 0px solid red;
}

.title-box {
  border-bottom: 0px solid red;

  overflow: hidden;
}

.price-box {
  margin-top: 0px;
  border-bottom: 0px solid red;

  overflow: hidden;
  display: flex;
  align-items: center;
}

.title-link {

  color: #555;
}

.button-box {
  margin-top: 0px;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.button {
  border-radius: 4px;
  background-color: #00ABC2;
  border: 0px;
  color: #FFF;
  font-size: 12px;
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}


.button:hover {
  transform: scale(1.1);
}




@media (max-width: 767.98px) {
  .sub-box {
    font-size: 11px;
  }
}





